
/************************/
/* 	    COLORS          */
/************************/
.color{
    display: flex;
    justify-content: space-between;
    width: 200px;
    text-align: center;
    margin: 0;
    align-items: flex-end;


}

#color1{

    

}

.swatches{
    margin-right: 100px;
}



.pull-left{
    
    border: black 1px solid;
    height: 100px;
    width: 200px;
}

.pull-right{
    border: black 1px solid;
    height: 100px;
}



/************************/
/* 	    BUTTONS         */
/************************/
.btn{
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    margin: 8px;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    box-shadow:none;
    cursor: pointer;
}

.link{
    color: #F6BB42;
}

.sm{
    margin: 6px;
    width: 80px;
    height: 25px;
}

.lg{
    margin: 10px;
    width: 100px;
    height: 40px;
}


.btn-primary{
    color: white;
    background-color: #F6BB42;
}

.btn-outline-primary{
    color: #F6BB42;
    border-color: #F6BB42;
    background-color: transparent;
}

.btn-outline-secondary{
    color: #FFCE54;
    border-color: #FFCE54;
    background-color: transparent;
}


.btn-outline-warning{
    color: #FCD30B;
    border-color: #FCD30B;
    background-color: transparent;
}

.btn-outline-success{
    color: #24B44C;
    border-color: #24B44C;
    background-color: transparent;
}

.btn-outline-danger{
    color: #D40808;
    border-color: #D40808;
    background-color: transparent;
}

.btn-outline-info{
    color: #0883BD;
    border-color: #0883BD;
    background-color: transparent;
}


.btn-primary:hover{
    color: #F6BB42;
    border-color: #F6BB42;
    background-color: transparent;

}

.link:hover{
    color: blue;
}

.btn-outline-primary:hover {
    color: white;
    border-color: transparent;
    background-color: #F6BB42;

}

.btn-outline-secondary:hover {
    color: white;
    border-color: transparent;
    background-color: #F6BB42;

}

.btn-outline-danger:hover {
    color: white;
    border-color: transparent;
    background-color: #D40808;

}

.btn-outline-info:hover {
    color: white;
    border-color: transparent;
    background-color: #0883BD;

}

.btn-outline-success:hover {
    color: white;
    border-color: transparent;
    background-color: #24B44C;

}

.btn-outline-warning:hover {
    color: white;
    border-color: transparent;
    background-color: #FCD30B;

}



/************************/
/* 	    LISTS           */
/************************/


.list-group {
    list-style: none;
  }

.list-group-item {
    width: 200px;
    height: 25px;;
    margin: 8px;
    background-color: #FFCE54;
    border-radius: 5px;
  }

/************************/
/* 	    FORM INPUT      */
/************************/

/*dropdown*/
.form-control{
    margin: 10px;
    width: 300px;
    height: 30px;;
    border-radius: 5px;
    border: 1px solid  #FCD30B;
}

.dropdown{
    margin: 10px;
    color: #F6BB42;
    border: 1px solid  #F6BB42;
    height: 25px;
    border-radius: 5px;
    background-color: white;
}

select:focus {
    outline:none;
}

select:hover {
    color: #F6BB42;
    background: white;
    }
  
  /* make it red instead (with with same width and style) */
  .dropdown:active, .dropdown:hover {
    outline-color:  #F6BB42;
    
  }

/*checkbox*/
.check{
    margin: 10px; 
    
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border-radius: 4px;
    height: 25px;
    width: 25px;
    background: #fff;
    border: 1px solid  #FCD30B;
    vertical-align: -8px;
}

input[type="checkbox"]:checked {
    border-radius: 4px;
    height: 25px;
    width: 25px;
    background:  #FCD30B;
    border: #FCD30B;
}

input[type="checkbox"]:focus {
        outline:none;
}

    /*radio*/


input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 25px;
    width: 25px;
    background: #fff;
    border: 1px solid  #FCD30B;
    border-radius: 50%;
    vertical-align: -8px;
}

input[type="radio"]:checked {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background:  #FCD30B;
    border: 1px solid  #FCD30B;
    }

input[type="radio"]:focus {
    outline:none;
}
/************************/
/* 	    TYPOGRAPHY      */
/************************/




/************************/
/* 	    ICONS           */
/************************/




/************************/
/* 	    CARDS           */
/************************/